<!-- Testimonial start -->
<section class="section" id="partner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5">
          <h5 class="text-primary text-uppercase small-title">
            {{ "PARTNER.ourPartner" | translate }}
          </h5>
          <h4 class="mb-3">{{ "PARTNER.trustedUs" | translate }}</h4>
          <p></p>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="row mt-5" style="background-color: white">
          <div class="col-xl-4 col-sm-4">
            <div class="client-images">
              <img
                src="assets/images/partner/dovv.png"
                alt="client-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>

          <div class="col-xl-4 col-sm-4">
            <div class="client-images">
              <img
                src="assets/images/partner/alibaba.png"
                alt="client-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>

          <div class="col-xl-4 col-sm-4">
            <div class="client-images">
              <img
                src="assets/images/partner/logo.png"
                alt="client-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>

          <div class="col-xl-4 col-sm-4">
            <div class="client-images">
              <img
                style="height: 57px"
                src="assets/images/partner/cocacola.png"
                alt="client-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>

          <div class="col-xl-4 col-sm-4">
            <div class="client-images">
              <img
                style="height: 57px"
                src="assets/images/partner/redbull.png"
                alt="client-img"
                class="mx-auto img-fluid d-block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Testimonial end -->
