<!--Navbar Start-->
<nav
  class="
    navbar navbar-expand-lg
    fixed-top
    navbar-custom
    sticky sticky-dark
    navbar-light
  "
  (window:scroll)="windowScroll()"
  id="navbar"
>
  <div class="container">
    <!-- LOGO -->
    <a class="logo text-uppercase" href="/">
      <img
        src="assets/images/logo-dash-big.png"
        class="logo-light"
        alt=""
        height="20"
      />
      <img
        src="assets/images/logo-dash-big.png"
        alt=""
        class="logo-dark"
        height="20"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
        <li class="nav-item" [ngClass]="{ active: currentSection === 'home' }">
          <a
            [ngxScrollTo]="'#home'"
            href="javascript: void(0);"
            class="nav-link"
            >Home</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: currentSection === 'services' }"
        >
          <a
            [ngxScrollTo]="'#services'"
            href="javascript: void(0);"
            class="nav-link"
            >Services</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: currentSection === 'features' }"
        >
          <a
            [ngxScrollTo]="'#features'"
            href="javascript: void(0);"
            class="nav-link"
            >Features</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: currentSection === 'clients' }"
        >
          <a
            [ngxScrollTo]="'#clients'"
            href="javascript: void(0);"
            class="nav-link"
            >Clients</a
          >
        </li>
        <li ngbDropdown class="nav-item">
          <div class="dropdown-language" id="dropdownBasic1" ngbDropdownToggle>
            English
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>French</button>
          </div>
        </li>
      </ul>
      <a
        href="https://partner.mydashs.com"
        class="btn btn-success btn-rounded navbar-btn"
      >
        Become a partner
      </a>
    </div>
  </div>
</nav>
<!-- Navbar End -->
<div
  appScrollspy
  [spiedTags]="['SECTION']"
  (sectionChange)="onSectionChange($event)"
>
  <!-- Hero section Start -->
  <section
    class="hero-section-5"
    id="home"
    style="background: url(assets/images/Home.png); max-height: 672px"
  >
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="hero-wrapper text-center mb-4">
            <p class="font-16 text-uppercase text-white-50">
              Discover MyDash Today
            </p>
            <h1 class="hero-title text-white mb-4">
              The Right Address For Promotion Anyday
              <span class="text-primary">MyDash</span>
            </h1>

            <p class="text-white-50">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour,
            </p>

            <div class="mt-4">
              <a
                href="https://partner.mydashs.com"
                class="btn btn-primary mt-2 mr-2"
                >Get Started</a
              >
              <a href="javascript: void(0);" class="btn btn-success mt-2 mr-2"
                >Learn more</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>

    <!-- end container -->
  </section>
  <!-- Hero section End -->
  <app-services></app-services>
  <app-features></app-features>
  <app-clients></app-clients>
  <app-plans></app-plans>
  <app-footer></app-footer>
</div>
