.dropdown-language {
  color: #f60f4f;
  font-weight: 500;
  padding: 6px 10px;
  margin: 0 7px;
}
.bg-overlay {
  height: 672px !important;
}

.dark-modal .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
}
.dark-modal .modal-header {
  border: none;
}
.dark-modal .close {
  color: white;
}
.dark-modal .modal-dialog {
  max-width: 800px;
}
