<section class="section bg-white">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-6 col-sm-8">
        <div class="home-img mt-5 mt-lg-0 rounded">
          <img
            src="assets/img/bg5.jpg"
            alt=""
            class="img-fluid mx-auto d-block img-customing"
          />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-wrapper mb-4">
          <p class="font-16 text-uppercase text-color">
            {{ "PROCEDURE.subtitle" | translate }}
          </p>
          <div class="subttitle-separtor"></div>
          <h1 class="hero-title mb-4 mt-2">
            <span class="text-success">{{
              "PROCEDURE.title" | translate
            }}</span>
          </h1>

          <div class="text-color">
            {{ "PROCEDURE.step" | translate }}
            <ul>
              <li>{{ "PROCEDURE.step1" | translate }}</li>
              <li>{{ "PROCEDURE.step2" | translate }}</li>
              <li>{{ "PROCEDURE.step3" | translate }}</li>
              <li>{{ "PROCEDURE.step4" | translate }}</li>
            </ul>
            {{ "PROCEDURE.step5" | translate }}
          </div>

          <!-- <div class="mt-4">
            <a
              href="https://partner.mydashs.com"
              class="btn btn-primary mt-2 mr-2 btn-rounded"
              >{{ "SERVICES.viewMore" | translate }}</a
            >
          </div> -->
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</section>
