<!-- Services start -->
<section class="section" id="services">
  <div class="container">
    <div class="row justify-content-flex-start">
      <div class="col-lg-8">
        <div class="text-left mb-5">
          <p class="font-16 text-uppercase text-black-50">TOOLKIT</p>
          <h2 class="text-primary text-uppercase">
            {{ "SERVICES.title" | translate }}
          </h2>
          <!-- <h4 class="mb-3">{{ "SERVICES.benefic" | translate }}</h4> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-sm-6" *ngFor="let item of serviceData">
        <div class="card">
          <div class="card-body p-4">
            <div class="text-center p-4 mt-3">
              <div class="avatar-md mx-auto mb-2">
                <span class="avatar-title rounded-circle bg-soft-primary">
                  <span class="text-primary">{{ item.id }}</span>
                </span>
              </div>
              <h4 class="font-18 text-success">
                {{ item.title | translate | titlecase }}
              </h4>
              <p class="mb-0 text-justify text-black-50">
                {{ item.text | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="text-center">
          <!-- <a
            *ngIf="allServiceData.length > serviceData.length"
            (click)="viewAll()"
            class="btn btn-success"
            >{{ "SERVICES.viewMore" | translate }}</a
          >

          <a
            *ngIf="allServiceData.length == serviceData.length"
            (click)="viewMin()"
            class="btn btn-success"
            >{{ "SERVICES.viewMin" | translate }}</a
          > -->
          <a class="btn btn-success text-white">{{
            "SERVICES.viewMore" | translate
          }}</a>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Services end -->
