<section class="section" style="background: #bec5ef">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="hero-wrapper mb-4">
          <p class="font-16 text-uppercase text-color">
            {{ "VISION.subtitle" | translate }}
          </p>
          <div class="subttitle-separtor"></div>
          <h1 class="hero-title mb-4 mt-2">
            <span class="text-success">{{ "VISION.title" | translate }}</span>
          </h1>

          <p class="text-color">
            {{ "VISION.description" | translate }}
          </p>

          <!-- <div class="mt-4">
            <a
              href="https://partner.mydashs.com"
              class="btn btn-primary mt-2 mr-2 btn-rounded"
              >{{ "SERVICES.viewMore" | translate }}</a
            >
          </div> -->
        </div>
      </div>

      <div class="col-lg-6 col-sm-8">
        <div class="home-img mt-5 mt-lg-0 rounded">
          <img
            src="assets/img/img1.png"
            alt=""
            class="img-fluid mx-auto d-block"
          />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
