<!-- Cta start -->
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5">
          <h5 class="text-primary text-uppercase small-title">
            {{ "PLAN.subscribe" | translate }}
          </h5>
          <h4 class="mb-3">{{ "PLAN.getBetter" | translate }}</h4>
        </div>
      </div>

      <div class="col-xl-8 col-lg-10">
        <div class="text-center">
          <div class="subscribe">
            <div class="row">
              <div class="col-lg-5 col-sm-12">
                <a routerLink="/">
                  <img
                    class="app-logo"
                    src="assets/images/play-store-logo.png"
                    alt="Play store logo"
                  />
                </a>
              </div>
              <div
                class="col-lg-2 col-sm-12"
                style="margin: 39px 0; padding: 10px"
              >
                {{ "PLAN.appChoice" | translate }}
              </div>
              <div class="col-lg-5 col-sm-12">
                <a routerLink="/">
                  <img
                    class="app-logo"
                    src="assets/images/app-store-logo.png"
                    alt="App store logo"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Cta end -->
