<!-- Cta start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-4">
            <div class="text-center p-4 mt-3">
              <p class="font-16 text-uppercase text-black-50">AIM</p>
              <h1 class="hero-title mb-4">
                <span class="text-primary">Our Objective</span>
              </h1>
              <p class="mb-0 text-center text-black-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                nunc morbi accumsan donec. Molestie amet faucibus venenatis sit
                nibh. Quis mattis egestas habitant vitae. Hendrerit accumsan
                risus mi,
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Cta end -->
