.app-logo {
  height: 134px;
  &:hover {
    cursor: pointer;
  }
}

.bg-img {
  background-image: url(../../../assets/img/img3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
