<!--Navbar Start-->
<nav
  class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark navbar-light"
  (window:scroll)="windowScroll()"
  id="navbar"
>
  <div class="container">
    <!-- LOGO -->
    <a class="logo text-uppercase" href="/">
      <img src="assets/img/logo.png" class="logo-light" alt="" height="50" />
      <img src="assets/img/logo.png" alt="" class="logo-dark" height="50" />
      <span class="text-black-50 p-2">KonnektJobs</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
    >
      <i class="mdi mdi-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
        <li class="nav-item" [ngClass]="{ active: currentSection === 'home' }">
          <a
            [ngxScrollTo]="'#home'"
            href="javascript: void(0);"
            class="nav-link"
            >{{ "MENU.home" | translate }}</a
          >
        </li>
        <li class="nav-item" [ngClass]="{ active: currentSection === 'about' }">
          <a
            [ngxScrollTo]="'#about'"
            href="javascript: void(0);"
            class="nav-link"
            >{{ "MENU.about" | translate }}</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: currentSection === 'services' }"
        >
          <a
            [ngxScrollTo]="'#services'"
            href="javascript: void(0);"
            class="nav-link"
            >Services</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: currentSection === 'features' }"
        >
          <a
            [ngxScrollTo]="'#features'"
            href="javascript: void(0);"
            class="nav-link"
            >{{ "MENU.features" | translate }}</a
          >
        </li>
        <a
          href="https://partner.mydashs.com"
          class="btn btn-primary btn-rounded btn-link"
        >
          {{ "MENU.contact_us" | translate }}
        </a>
        <!-- <li ngbDropdown style="cursor: pointer" class="nav-item">
          <a
            class="dropdown-language nav-link"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{ fullNameLang }}
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              *ngFor="let lang of languages"
              (click)="changeLanguage(lang)"
              ngbDropdownItem
            >
              <span *ngIf="lang.value !== selected && selected == 'en'"
                >French</span
              >
              <span *ngIf="lang.value !== selected && selected == 'fr'"
                >Anglais</span
              >
            </button>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->
<div
  appScrollspy
  [spiedTags]="['SECTION']"
  (sectionChange)="onSectionChange($event)"
>
  <!-- Hero section Start -->
  <section class="hero-section-2 bg-custom" id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="hero-wrapper text-center mb-4">
            <h1 class="hero-title text-black mb-4">
              In
              <span class="text-success">Skill,</span>
            </h1>
            <p class="font-16 text-black-50 text-uppercase">we trust</p>

            <p class="text-black-50">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
              nunc morbi accumsan donec. Molestie amet faucibus venenatis sit
              nibh. Quis mattis egestas habitant vitae. Hendrerit accumsan risus
              mi, etiam massa commodo sodales donec lacus. In at viverra est at
              viverra porta. Et elementum cras venenatis, risus aliquet dui
            </p>

            <div class="watch-video pt-5">
              <a
                href="https://partner.mydashs.com"
                class="btn btn-primary mt-2 mr-2 btn-rounded"
                >Discover</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- Hero section End -->
  <app-services></app-services>
  <app-features></app-features>
  <app-clients></app-clients>
  <app-plans></app-plans>
  <app-footer></app-footer>
</div>
