.active {
  border-bottom: 3px solid #e0a2c7 !important;
  color: #e0a2c7 !important;
  a {
    color: #e0a2c7 !important;
  }
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: black;
}

.dropdown-language {
  color: black !important;
}

.btn-link {
  padding: 0.5rem 0.75rem !important;
}

.flag {
  max-width: 30px;
}
