.active {
  border-bottom: 3px solid #e0a2c7 !important;
  color: #e0a2c7 !important;
  a {
    color: #e0a2c7 !important;
  }
}

.nav-sticky .app-title {
  color: rgba(52, 58, 64, 0.9) !important;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

@media (max-width: 991px) {
  .navbar-light .navbar-nav .nav-item .nav-link {
    color: rgba(52, 58, 64, 0.9) !important;
  }
  .app-title {
    color: rgba(52, 58, 64, 0.9) !important;
  }

  .img-respo {
    width: auto !important;
  }
  .bg-overlay {
    background: rgba(35, 37, 47, 0.9) !important;
  }
}

.dropdown-language {
  color: white !important;
}

.btn-link {
  padding: 0.5rem 0.75rem !important;
}

.flag {
  max-width: 30px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
