<section class="section bg-success" id="about">
  <div class="container">
    <div class="row justify-content-flex-start">
      <div class="col-lg-8">
        <div class="text-left mb-5">
          <h2 class="text-primary text-uppercase">
            {{ "ABOUT.title" | translate | titlecase }}
          </h2>
          <!-- <h4 class="mb-3">{{ "SERVICES.benefic" | translate }}</h4> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="hero-wrapper mb-4">
          <p class="font-16 text-uppercase text-black-50">VIEW</p>
          <h1 class="hero-title mb-4">
            <span class="text-primary">Our vision</span>
          </h1>

          <p class="text-black-50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nunc
            morbi accumsan donec. Molestie amet faucibus venenatis sit nibh.
            Quis mattis egestas habitant vitae. Hendrerit accumsan risus mi,
          </p>

          <div class="mt-4">
            <a
              href="https://partner.mydashs.com"
              class="btn btn-primary mt-2 mr-2 btn-rounded"
              >{{ "SERVICES.viewMore" | translate }}</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-8">
        <div class="home-img mt-5 mt-lg-0 rounded">
          <img
            src="assets/images/home-img.png"
            alt=""
            class="img-fluid mx-auto d-block"
          />
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-lg-6 col-sm-8">
        <div class="home-img mt-5 mt-lg-0 rounded">
          <img
            src="assets/images/home-img.png"
            alt=""
            class="img-fluid mx-auto d-block"
          />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="hero-wrapper mb-4">
          <p class="font-16 text-uppercase text-black-50">EXPERIENCE</p>
          <h1 class="hero-title mb-4">
            <span class="text-primary">Our process</span>
          </h1>

          <p class="text-black-50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nunc
            morbi accumsan donec. Molestie amet faucibus venenatis sit nibh.
            Quis mattis egestas habitant vitae. Hendrerit accumsan risus mi,
          </p>

          <div class="mt-4">
            <a
              href="https://partner.mydashs.com"
              class="btn btn-primary mt-2 mr-2 btn-rounded"
              >{{ "SERVICES.viewMore" | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
