<!-- Footer start -->
<footer class="footer bg-success">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div>
          <h2 class="mb-4 footer-list-title text-primary">
            {{ "ABOUT.title" | translate | uppercase }}
          </h2>
          <p
            class="text-color"
            [innerHTML]="'ABOUT.description' | translate"
          ></p>
        </div>
      </div>

      <!-- <div class="col-lg-3 col-sm-6">
        <div>
          <h2 class="mb-4 footer-list-title text-primary">
            {{ "MENU.contact_us" | translate | uppercase }}
          </h2>

          <div>
            <div class="media">
              <i-feather
                name="map-pin"
                class="icon-dual-light icons-sm mt-1 mr-2 text-primary"
              ></i-feather>
              <div class="media-body text-color">
                <p>Krimpelweg 5, 28277 Bremen, Allemagne</p>
              </div>
            </div>
            <div class="media">
              <i-feather
                name="mail"
                class="icon-dual-light icons-sm mt-1 mr-2 text-primary"
              ></i-feather>
              <div class="media-body text-color">
                <p>info@konnektjobs.de</p>
              </div>
            </div>
            <div class="media">
              <i-feather
                name="phone"
                class="icon-dual-light icons-sm mt-1 mr-2 text-primary"
              ></i-feather>
              <div class="media-body text-color">
                <p>(0049)17684140032</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-lg-6 col-sm-6">
        <div>
          <h2 class="mb-4 footer-list-title text-primary">
            {{ "FOOTER.mention" | translate | uppercase }}
          </h2>
          <p class="text-color">
            ANTOINE BOUE <br />
            DIRECTEUR GÉNÉRAL
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer end -->

<!-- Footer alt start -->
<section class="bg-primary py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="float-sm-center mt-4 mt-sm-0">
          <p class="copyright-desc text-white text-center mb-0">
            {{ year }} Copyright KonnektJobs
          </p>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Footer alt start -->
