<!-- Features start -->
<section class="section" id="features" style="text-align: center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5">
          <h5 class="text-primary text-uppercase small-title">
            {{ "FEATURE.feature" | translate }}
          </h5>
          <h4 class="mb-3">{{ "FEATURE.featureProduct" | translate }}</h4>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-coca1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Coca cola &nbsp;</div>
              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-juice1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Mémé cassé &nbsp;</div>

              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>
            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-coca1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Coca cola &nbsp;</div>

              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>
            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-juice1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Mémé cassé &nbsp;</div>

              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>
            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-coca1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Coca cola &nbsp;</div>
              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-juice1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Mémé cassé &nbsp;</div>

              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>
            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-coca1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Coca cola &nbsp;</div>

              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>
            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-pr">
        <div class="container product-list">
          <img src="assets/images/feature-product-juice1.png" />
          <div>
            <div class="row" style="width: 200px; margin: 0 auto">
              <div class="col-7 product-name">Mémé cassé &nbsp;</div>

              <div class="col-2">
                <i-feather
                  class="icone-feature"
                  name="heart"
                  class="icon-dual-primary"
                ></i-feather>
              </div>
            </div>

            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="calendar"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;Du: <span>1 Sept </span> &nbsp; Au: <span>21 Juil</span>
              </div>
            </div>
            <div class="row promotion-during">
              <div class="col">
                <i-feather
                  class="icone-feature"
                  name="shopping-bag"
                  class="icon-dual-primary"
                ></i-feather>
                &nbsp;<span> 3 sachets = 1 offert</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end row -->

    <!-- <div class="row mt-5 pt-5">
      <div class="col-lg-5 col-sm-8">
        <div class="card border border-light shadow-none">
          <div class="card-header border-0 bg-transparent">
            <div>
              <i class="mdi mdi-circle text-danger mr-1"></i>
              <i class="mdi mdi-circle text-warning mr-1"></i>
              <i class="mdi mdi-circle text-success mr-1"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <div class="box-shadow">
              <img
                src="assets/images/features/img-2.png"
                alt=""
                class="img-fluid mx-auto d-block"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <div class="mt-4 mt-lg-0">
          <div class="avatar-md mb-4">
            <span class="avatar-title rounded-circle bg-soft-primary">
              <i-feather name="pie-chart" class="icon-dual-primary"></i-feather>
            </span>
          </div>
          <h5>Increase your Marketing Performance</h5>
          <p class="mb-4">
            If several languages coalesce, the grammar of the resulting language
            is more simple and regular.
          </p>

          <div class="row">
            <div class="col-sm-6">
              <p>
                <i-feather
                  name="check"
                  class="icon-dual-success mr-2"
                ></i-feather>
                Donec quam felis
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <i-feather
                  name="check"
                  class="icon-dual-success mr-2"
                ></i-feather>
                Ultricies nec
              </p>
            </div>
          </div>

          <div class="mt-4">
            <a href="javascript: void(0);" class="btn btn-primary"
              >Learn more
              <i-feather name="arrow-right" class="icons-sm ml-1"> </i-feather
            ></a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Features end -->
