.icon-dual-primary svg {
  color: gray !important;
  fill: white !important;
}

i-feather {
  width: 17px;
  height: 17px;
}

.product-list {
  background-color: #f8fefd;
  width: 400px;
  height: 258px;
  padding-top: 27px;
}
