.icon-dual-primary svg {
  color: gray !important;
  fill: white !important;
}

i-feather {
  width: 17px;
  height: 17px;
}

.product-list {
  background-color: #f3fdfb;
  width: 222px;
  border-radius: 15px;
  height: 258px;
  padding-top: 15px;

  img {
    padding-bottom: 10px;
  }
}

.product-name {
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin-left: 20px;
  padding-bottom: 15px;
}

.promotion-during {
  font-size: 12px;
  i-feather {
    width: 15px;
    height: 15px;
  }
  span {
    color: black;
  }
}

.mb-pr {
  margin-bottom: 20px;
}
